{% extends 'base.html' %}

{% block content %}
    <h1> List of Posts </h1>

{% for post in post_lists %}
    <div class="card" style="width: 75rem;">
        <div class="card-body">
        <h5 class="card-title"> <strong> {{post.title}} </strong> </h5>
        <h6 class="card-subtitle mb-2 text-muted"> Score: {{ post.score }}</h6>
        <p class="card-text"> {{ post.post_body }}</p>
        <a href={{ post.url }} class="card-link">Link</a>
        </div>
    </div>

{% endfor %}

{% endblock %}

